* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  color: #ffffff;
}

table {
  width: 400px;
  height: 360px;
  border-collapse: collapse;
  margin: 30px auto;
  text-transform: uppercase;
  text-align: center;
}

caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

td {
  border: 5px solid black;
  width: 50px;
  height: 60px;
  padding: 10px;
}

.h25 {
  height: 25px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.border-top {
  border-top: none;
}

.border-right {
  border-right: none;
}

.border-bottom {
  border-bottom: none;
}

.border-left {
  border-left: none;
}